# dependencies
node_modules/

# env
.env
venv/
.venv/

# python
__pycache__/
*.pyc

# build
dist/
build/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

AGENTS.md
*.docx
*.png
*.bkp
backend/database/erd.html
backend/database/table_analysis_data.json
